In [1]:
import numpy as np, pandas as pd

In [2]:
df = pd.read_csv("stanfordMOOCForumPostsSet.csv")

In [3]:
df.head()

,Text,Opinion(1/0),Question(1/0),Answer(1/0),Sentiment(1-7),Confusion(1-7),Urgency(1-7),CourseType,forum_post_id,course_display_name,forum_uid,created_at,post_type,anonymous,anonymous_to_peers,up_count,comment_thread_id,reads
0,Interesting! How often we say those things to ...,1,0,0,6.5,2.0,1.5,Education,5225177f2c501f0a00000015,Education/EDUC115N/How_to_Learn_Math,30CADB93E6DE4711193D7BD05F2AE95C,02-09-2013 22:55,Comment,False,False,0.0,5221a8262cfae31200000001,41.0
1,"What is \Algebra as a Math Game\"" or are you j...",0,1,0,4.0,5.0,3.5,Education,5207d0e9935dfc0e0000005e,Education/EDUC115N/How_to_Learn_Math,37D8FAEE7D0B94B6CFC57D98FD3D0BA5,11-08-2013 17:59,Comment,False,False,0.0,520663839df35b0a00000043,55.0
2,I like the idea of my kids principal who says ...,1,0,0,5.5,3.0,2.5,Education,52052c82d01fec0a00000071,Education/EDUC115N/How_to_Learn_Math,CC11480215042B3EB6E5905EAB13B733,09-08-2013 17:53,Comment,False,False,0.0,51e59415e339d716000001a6,25.0
3,"From their responses, it seems the students re...",1,0,0,6.0,3.0,2.5,Education,5240a45e067ebf1200000008,Education/EDUC115N/How_to_Learn_Math,C717F838D10E8256D7C88B33C43623F1,23-09-2013 20:28,CommentThread,False,False,0.0,None,0.0
4,"The boys loved math, because \there is freedom...",1,0,0,7.0,2.0,3.0,Education,5212c5e2dd10251500000062,Education/EDUC115N/How_to_Learn_Math,F83887D68EA48964687C6441782CDD0E,20-08-2013 01:26,CommentThread,False,False,0.0,None,3.0

In [7]:
questions = df[df['Question(1/0)']==1][['Text','Urgency(1-7)','Answer(1/0)','course_display_name']]

In [8]:
questions.head()

,Text,Urgency(1-7),Answer(1/0),course_display_name
1,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,Education/EDUC115N/How_to_Learn_Math
22,The new fad in our district (as others) is to ...,3.5,0,Education/EDUC115N/How_to_Learn_Math
33,I am teaching the inclusive sections of alg 2 ...,4.5,0,Education/EDUC115N/How_to_Learn_Math
46,Why focus if you already know you aren't any g...,2.5,0,Education/EDUC115N/How_to_Learn_Math
50,Is anyone familiar with the Degross research o...,5.0,0,Education/EDUC115N/How_to_Learn_Math

In [9]:
questions['Answer(1/0)'] = 0

In [10]:
questions.head()

,Text,Urgency(1-7),Answer(1/0),course_display_name
1,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,Education/EDUC115N/How_to_Learn_Math
22,The new fad in our district (as others) is to ...,3.5,0,Education/EDUC115N/How_to_Learn_Math
33,I am teaching the inclusive sections of alg 2 ...,4.5,0,Education/EDUC115N/How_to_Learn_Math
46,Why focus if you already know you aren't any g...,2.5,0,Education/EDUC115N/How_to_Learn_Math
50,Is anyone familiar with the Degross research o...,5.0,0,Education/EDUC115N/How_to_Learn_Math

In [11]:
questions['Answer_text'] = ""

In [12]:
questions.head()

,Text,Urgency(1-7),Answer(1/0),course_display_name,Answer_text
1,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,Education/EDUC115N/How_to_Learn_Math,
22,The new fad in our district (as others) is to ...,3.5,0,Education/EDUC115N/How_to_Learn_Math,
33,I am teaching the inclusive sections of alg 2 ...,4.5,0,Education/EDUC115N/How_to_Learn_Math,
46,Why focus if you already know you aren't any g...,2.5,0,Education/EDUC115N/How_to_Learn_Math,
50,Is anyone familiar with the Degross research o...,5.0,0,Education/EDUC115N/How_to_Learn_Math,

In [13]:
questions = questions.reset_index()

In [14]:
questions.head()

,index,Text,Urgency(1-7),Answer(1/0),course_display_name,Answer_text
0,1,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,Education/EDUC115N/How_to_Learn_Math,
1,22,The new fad in our district (as others) is to ...,3.5,0,Education/EDUC115N/How_to_Learn_Math,
2,33,I am teaching the inclusive sections of alg 2 ...,4.5,0,Education/EDUC115N/How_to_Learn_Math,
3,46,Why focus if you already know you aren't any g...,2.5,0,Education/EDUC115N/How_to_Learn_Math,
4,50,Is anyone familiar with the Degross research o...,5.0,0,Education/EDUC115N/How_to_Learn_Math,

In [15]:
questions.drop('index',axis=1,inplace=True)

In [16]:
questions.head()

,Text,Urgency(1-7),Answer(1/0),course_display_name,Answer_text
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,Education/EDUC115N/How_to_Learn_Math,
1,The new fad in our district (as others) is to ...,3.5,0,Education/EDUC115N/How_to_Learn_Math,
2,I am teaching the inclusive sections of alg 2 ...,4.5,0,Education/EDUC115N/How_to_Learn_Math,
3,Why focus if you already know you aren't any g...,2.5,0,Education/EDUC115N/How_to_Learn_Math,
4,Is anyone familiar with the Degross research o...,5.0,0,Education/EDUC115N/How_to_Learn_Math,

In [17]:
questions = questions[['Text','Urgency(1-7)','Answer(1/0)','Answer_text','course_display_name']]

In [18]:
questions.head()

,Text,Urgency(1-7),Answer(1/0),Answer_text,course_display_name
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,,Education/EDUC115N/How_to_Learn_Math
1,The new fad in our district (as others) is to ...,3.5,0,,Education/EDUC115N/How_to_Learn_Math
2,I am teaching the inclusive sections of alg 2 ...,4.5,0,,Education/EDUC115N/How_to_Learn_Math
3,Why focus if you already know you aren't any g...,2.5,0,,Education/EDUC115N/How_to_Learn_Math
4,Is anyone familiar with the Degross research o...,5.0,0,,Education/EDUC115N/How_to_Learn_Math

In [22]:
questions[questions['course_display_name']=='Education/EDUC115N/How_to_Learn_Math']

,Text,Urgency(1-7),Answer(1/0),Answer_text,course_display_name
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,0,,Education/EDUC115N/How_to_Learn_Math
1,The new fad in our district (as others) is to ...,3.5,0,,Education/EDUC115N/How_to_Learn_Math
2,I am teaching the inclusive sections of alg 2 ...,4.5,0,,Education/EDUC115N/How_to_Learn_Math
3,Why focus if you already know you aren't any g...,2.5,0,,Education/EDUC115N/How_to_Learn_Math
4,Is anyone familiar with the Degross research o...,5.0,0,,Education/EDUC115N/How_to_Learn_Math
...,...,...,...,...,...
706,"In my opinion, it is both A and B that contrib...",3.5,0,,Education/EDUC115N/How_to_Learn_Math
707,"Perseverance, resilience, self-efficacy - how ...",3.0,0,,Education/EDUC115N/How_to_Learn_Math
708,This sounds intriguing. What grade level was t...,1.5,0,,Education/EDUC115N/How_to_Learn_Math
709,I still struggle to understand in elementary s...,5.0,0,,Education/EDUC115N/How_to_Learn_Math
710,I am curious about your phrase \I was always o...,2.5,0,,Education/EDUC115N/How_to_Learn_Math

In [29]:
questions['course_display_name'].fillna("Medicine/SciWrite/Fall2013", inplace=True)

In [30]:
questions['course_display_name'].unique()

array(['Education/EDUC115N/How_to_Learn_Math',
       'HumanitiesScience/Stats216/Winter2014',
       'HumanitiesSciences/EP101/Environmental_Physiology',
       'HumanitiesScience/StatLearning/Winter2014',
       'GlobalHealth/WomensHealth/Winter2014',
       'HumanitiesSciences/Econ-1/Summer2014',
       'HumanitiesSciences/Econ1V/Summer2014',
       'Medicine/SciWrite/Fall2013',
       'Medicine/HRP258/Statistics_in_Medicine',
       'Medicine/SURG210/Managing_Emergencies_What_Every_Doctor_Must_Know',
       'Medicine/MedStats/Summer2014'], dtype=object)

In [31]:
questions['course_display_name'].value_counts()

Medicine/SciWrite/Fall2013                                           1612
Medicine/HRP258/Statistics_in_Medicine                               1011
HumanitiesScience/StatLearning/Winter2014                             798
Education/EDUC115N/How_to_Learn_Math                                  711
HumanitiesSciences/EP101/Environmental_Physiology                     561
Medicine/MedStats/Summer2014                                          513
GlobalHealth/WomensHealth/Winter2014                                  328
HumanitiesSciences/Econ-1/Summer2014                                  226
HumanitiesScience/Stats216/Winter2014                                 126
Medicine/SURG210/Managing_Emergencies_What_Every_Doctor_Must_Know      62
HumanitiesSciences/Econ1V/Summer2014                                   11
Name: course_display_name, dtype: int64

In [33]:
questions.to_csv("questions.csv",",")

In [32]:
questions.isnull(). values. any()

False

In [19]:
df1.to_csv("questions.csv",",")

NameError: name 'df1' is not defined

In [14]:
df1 = pd.read_csv("questions.csv", index_col=[0])

In [15]:
df1.head()

,Text,Urgency(1-7),Answer(1/0),Answer_text
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,1.0,This is a random answer
1,The new fad in our district (as others) is to ...,3.5,0.0,NaN
2,I am teaching the inclusive sections of alg 2 ...,4.5,0.0,NaN
3,Why focus if you already know you aren't any g...,2.5,0.0,NaN
4,Is anyone familiar with the Degross research o...,5.0,0.0,NaN

In [11]:
df1.drop('Unnamed: 0.1.1.1.1.1',axis=1,inplace=True)

In [16]:
new_questions = df1[['Text','Answer(1/0)','Answer_text']]

In [18]:
new_questions.loc[1]['Text']

"The new fad in our district (as others) is to group and re-group based on who is struggling with what ideas at the time... the assumption being that flexible and non-permanent grouping avoids the negatives of tracking. I'm not convinced, but am unsure. Can someone speak to the notions of RTI that are going around now, and how they fit into this research about the lost opportunities by grouping students by ability (short-term vs. long)?"

In [31]:
df1.iloc[0].at['Answer(1/0)'] = 1.0

In [41]:
df1.head(-5)

,Text,Urgency(1-7),Answer(1/0),Answer_text
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,1.0,NaN
1,The new fad in our district (as others) is to ...,3.5,0.0,NaN
2,I am teaching the inclusive sections of alg 2 ...,4.5,0.0,NaN
3,Why focus if you already know you aren't any g...,2.5,0.0,NaN
4,Is anyone familiar with the Degross research o...,5.0,0.0,NaN
...,...,...,...,...
5953,Good evening Josh!I have already worked on t...,5.5,0.0,NaN
5954,"Hello Josh,If we have a correlated sample pa...",5.5,0.0,NaN
5955,"Dear Olga,43 posts is a great - this is this...",3.0,0.0,NaN
5956,"Hello Seema,It seems like this question is r...",1.0,0.0,NaN
5957,"> Hello Josh,Is this hypothesis formulation ...",5.5,0.0,NaN

In [34]:
df1.loc[0, 'Answer_text'] = "hello"

In [35]:
df1.head()

,Text,Urgency(1-7),Answer(1/0),Answer_text
0,"What is \Algebra as a Math Game\"" or are you j...",3.5,0.0,hello
1,The new fad in our district (as others) is to ...,3.5,0.0,NaN
2,I am teaching the inclusive sections of alg 2 ...,4.5,0.0,NaN
3,Why focus if you already know you aren't any g...,2.5,0.0,NaN
4,Is anyone familiar with the Degross research o...,5.0,0.0,NaN

In [25]:
df2 = pd.read_csv("sim.csv", header=None)

In [26]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,5949,5950,5951,5952,5953,5954,5955,5956,5957,5958
0,0.0,0.032886,0.00000,0.063332,0.041835,0.019873,0.010747,0.059674,0.077684,0.056587,...,0.014420,0.034377,0.014923,0.036955,0.028578,0.002321,0.029515,0.056608,0.010044,0.010893
1,0.0,0.000000,0.05446,0.015530,0.103366,0.059387,0.056780,0.101078,0.065432,0.062438,...,0.035226,0.023267,0.051605,0.060803,0.037761,0.088440,0.102738,0.074840,0.025836,0.096805
2,0.0,0.000000,0.00000,0.029967,0.029174,0.012707,0.017416,0.040924,0.089609,0.012755,...,0.022141,0.004704,0.019815,0.026278,0.039990,0.040351,0.051516,0.038000,0.014841,0.071683
3,0.0,0.000000,0.00000,0.000000,0.006980,0.007805,0.000000,0.022302,0.095871,0.026884,...,0.012486,0.052249,0.032175,0.026483,0.128405,0.008792,0.025115,0.083849,0.000000,0.091580
4,0.0,0.000000,0.00000,0.000000,0.000000,0.062257,0.042862,0.091018,0.005555,0.058276,...,0.093326,0.015235,0.044407,0.061031,0.039451,0.093161,0.086192,0.081004,0.012200,0.095836

In [27]:
df2.iloc[0]

0       0.000000
1       0.032886
2       0.000000
3       0.063332
4       0.041835
          ...
5954    0.002321
5955    0.029515
5956    0.056608
5957    0.010044
5958    0.010893
Name: 0, Length: 5959, dtype: float64

In [28]:
cos_mat = np.loadtxt(open("sim.csv"),delimiter=",")

In [29]:
cos_mat[0]

array([0.        , 0.03288593, 0.        , ..., 0.05660787, 0.01004425,
       0.01089304])

In [32]:
len(cos_mat)

5959